* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    text-align: right;
    padding-top: 5px;
    padding-right: 2px;
    height: 10px;
}

.btn-top {
    padding: 5px;
    color: white;
    background-color: #2c3e50;
    border-radius: 5px;
    border: 0;
    font-weight: normal;
    cursor: pointer;
}

main {
    width: 100vw;
    height: calc(100vh - 89px);
    display: flex;
    align-items: center;
    overflow-y: scroll;
}

.participants {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.participants img {
    height: 150px;
    max-width: 200px;
    border: 3px solid black;
    object-fit: cover;
}

.participants:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 60px;
    color: lightblue;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.participants::before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 60px;
    color: lightgray;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.person:last-of-type {
    border: 2px solid yellow;
}

.person {
    position: relative;
}

.label, .host {
    position: absolute;
    bottom: 2px;
    left: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.label::before {
    content: '\f131';
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: bold;
    padding-right: 2px;
}


footer {
    height: 79px;
    width:100%;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(133, 145, 169, 0.7);

    align-items: flex-end;
    padding-bottom: 20px;
}

footer p {
    font-size: 10px;
    padding-top: 5px;
}

footer i {
    font-size: 30px;
}

.footer-left {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.footer-middle {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    flex-shrink: 0;
}

.footer-right button {
    background-color: #2c3e50;
    color: red;
    display: block;
    width: 100%;
    height: auto;
    padding: 22px 40px;
    border: 1px solid black;
    font-size: 15px;
    cursor: pointer;
}

.fa-share-square {
    color: green;
}

@media screen and (max-width: 768px) {
    footer i{
        font-size: 10px;
    }

    footer p {
        display: none;
    }


}
